<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.atguigu.springcloud.dao.PaymentDao">


    <insert id="insertPayment" parameterType="Payment" useGeneratedKeys="true" keyProperty="id">
        insert into payment(serial) values (#{serial})
    </insert>
    <update id="updatePayment">
        update payment
    </update>
    <delete id="deletePayment"></delete>


    <select id="getPaymentById" parameterType="Long" resultType="com.atguigu.springcloud.entities.Payment">
        select * from payment where id=#{id};
    </select>

</mapper>
